@charset "UTF-8";

  /*Declarações Retrato*/

  @media screen and (orientation:portrait){
        
        
    body{
        background: url(../imagens/cev-portrait.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
    }   
}

/*Declarações Paisagem*/

@media screen and (orientation:landscape){

body{
    background: url(../imagens/cev-landscape.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;  } 
}